<html>
    <body class="body">
        <section>
          <div class="background-container-top">
            
          <div class="circular-image">
            <!-- Contenido del contenedor circular -->
            <img [src]="person().img" alt="Imagen de fondo">
          </div>
          <div class="name">
            <h1>SOY</h1>
            <h1>{{person().nombre}}</h1>
            <H2>{{person().descripcion}}</H2>
            <h2>DESARROLLADOR WEB</h2>
          </div>
        </div>
        </section>
        <section>
            <div class="background-container-mid">
                <div class="competencias-title">
                    <h1>COMPETENCIAS</h1>
                    <div class="competencias-container">
                        <div class="competencia">
                        <div>
                          <ul class="competencias-list">
                            <li *ngFor="let lenguaje of lenguajes()">
                              {{ lenguaje.nombre }}
                             
                            </li> 
                          </ul> 
                        </div>
                      </div>
                      <div class="competencias-container">
                        <ul class="competencia-list">
                            <li *ngFor="let lenguaje of lenguajes()">
                                <span class="box" [style.width.px]="lenguaje.conocimiento"></span>
                              </li>
                            </ul>
                      </div>
                      <div class="competencias-container">
                        <ul class="competencias-list">
                        <li *ngFor="let lenguaje of lenguajes()">
                            {{ lenguaje.conocimiento }} %
                          </li>
                        </ul>
                      </div>
                    </div>
                      
                </div>
                
            </div>
            
          </section>
      </body>
      
</html>